  /* ------------------------- Mobile CSS ----------------------- */
  .headerMobile {
    position: 'relative';
  }

  a {
    text-decoration: none;
    color: #739B94;
  }

  body > div.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.css-1u2w381-MuiModal-root-MuiDrawer-root > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    width: 50vw !important;
  }

  /* ------------------------- Web CSS --------------------------- */
  /* Style the header with a grey background and some padding */
  .headerWeb {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px ;
    display: flex;
    justify-content: space-around;
  }
  
  #gyozilla {
    display: flex;
    justify-content: center;
  }

  /* Style the header links */
  .menu{
    float: left;
    color: #739B94;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 550;
  }
  
  /* Float the link section to the left */
  .header-left {
    float: left;
    display: flex;
    justify-content:center ;
    width: 50%;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
  }
  
  .containIcon {
    margin: 15px;
  } 

  .containSearch {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  
  .search {
    width: 80%;
  }

  ul li {
    font-size: 20px;
  } 

  /* Change the background color on mouse-over */
  .menu:hover {
    background-color: #739B94;
    color: #f1f1f1;
  }

  /* -- Mobile version -- */
  @media screen and (max-width: 992px) {
    .headerMobile {
      display: flex;
    }

    .headerWeb {
      display: none;
    }
  }

  /* ---- Web version --- */
  @media screen and (min-width: 992px) {
    .headerMobile {
      display: none;
    }

    .headerWeb {
      display: flex;
    }
  }