body{
    /* background-color: aqua; */
    color: white;
}

.bodyCont{
    display: flex;
    flex-direction: row;
}

#firstCol{
    background-color: #5F8D85;
    height:auto;
    padding-bottom: 30px;
}

#secondCol{
    background-color: #F8A500 ;
    height:auto;
    padding-bottom: 30px;
}

.contactText{
    margin-left: 20px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sendContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custbtn{
    margin-left: 120px;
}

/* ------------------------- Media queries ------------------------ */

@media (max-width: 1025px) {
    .bodyCont{
        flex-direction: column;
    }
    
    #firstCol{
        width: 100%;
        height:auto;
        padding-bottom: 30px;
        
    }
    
    #secondCol{
        width: 100%;
        height:auto;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}