.backgroundHome img:first-of-type {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.backgroundHome {
  height: calc(100vh - 71px);
  margin-bottom: 100px;
}

.logoEcriture {
  width: 40vw;
  position: absolute;
  right: 3vw;
  bottom: 18vh;
}

@media (max-width: 992px) {
  .logoEcriture {
    display: none;
  }
  .backgroundHome img:first-of-type {
    object-position: left;
    height: 50vh;
    width: 100vw;
  }
  .backgroundHome {
    height: 50vh;
    margin-bottom: 50px;
  }

  .arrowBottom {
    width: 50px;
    position: absolute;
    bottom: 22rem !important;
  }
  .gridContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    white-space: "nowrap";
  }
}
