.backgroundHome img:first-of-type {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.backgroundHome {
  height: calc(100vh - 71px);
  margin-bottom: 100px;
  object-fit: cover;
  object-position: center center;
}

.logoEcriture {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 0;
}

.description {
  width: 50%;
}

@media (max-width: 700px) {
  .logoEcriture {
    width: 20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .backgroundHome {
    height: calc(100vh - 56px);
    object-fit: cover;
    object-position: center center;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
  }

  .gridContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll !important;
    white-space: "nowrap";
  }

  .backgroundHome img:first-of-type {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); 
  }

  .description {
    width: 100%;
  }
}

@keyframes move-up-down {

  0%,
  100% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }
}

.move-up-down {
  animation: move-up-down 1s ease-in-out infinite;
}

.zoomEffect {
  transition: transform 0.5s ease-in-out;
}

.zoomEffect:hover {
  transform: scale(1.03);
}